@import url('~/assets/css/cards.css');
@import url('~/assets/css/buttons.css');
@import url('~/assets/css/navbar.css');
@import url('~/assets/css/fonts.css');
@import url('~/assets/css/responsive.css');
@import url('~/assets/css/forms.css');
@import url('~/assets/css/confluence.css');
@import url('~/assets/css/text.css');
@import url('~/assets/css/tabs.css');

:root {
    --reder: #ff0000;
    --red: #ff3131;
    --ut-orange: #ff8700ff;
    --gold: #ffd300ff;
    --chartreuse: #deff0aff;
    --spring-bud: #a1ff0aff;
    --spring-green: #0aff99ff;
    --electric-blue: #0aefffff;
    --azure: #147df5ff;
    --azure-secondary: #0077ff;
    --electric-indigo: #580affff;
    --electric-purple: #be0affff;
    --confluence-col-gray: #F4F5F7;
    --confluence-table-gray: #C1C7D0;
}

main {
    font-family: "Lato", sans-serif, serif;
    margin: 1em 8em 0 8em;
}

pre.tab {
    display: inline;
}

.w-100 {
    width: 100%;
}

.italic {
    font-style: italic;
}

.cute-label {
    color: white;
    padding: 8px;
    text-transform: capitalize;
    padding: 0.5em;
    border-radius: 0.25em;
}

.success {
    background-color: #04AA6D;
}

.info {
    background-color: #2196F3;
}

.warning {
    background-color: #ff9800;
}

.danger {
    background-color: #f44336;
}

.other {
    background-color: #e7e7e7;
    color: black;
}

.form-action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-preview-tabs li {
    position: relative;
    width: auto;
    border: 0;
    background-color: transparent;
    float: none;
    display: inline-block;
    margin-right: 2.5rem;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.form-preview-tabs li.active {
    border-color: #0097d7;
}